/*Eu não posso aplicar o nessa classe, por que ela interaje com o body também.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html{

    overflow-x: hidden;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/*"O atributo overflow foi usado com o eixo X(eixo na horizontal) para configurar as partes que ultrapassarem o site, não sejam exibidas"*/

.Imagens_carrosel{

    width: 100%;
    height: auto;
}

.container-flex{

    display: flex;
}

header {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
    position: sticky; /*O elemento ficara fixo no topo*/
    top: 0;
    left: 0;
    z-index: 1; /*O header fica em cima de outros elementos*/
}

header > .container{

    display: flex;
    justify-content:center;
    width: 100%;
    padding-bottom: 10px;
}

/*[nav -> display: none] foi usado 'none'
para que os elementos não apareçam até
que a função slideToggle seja acionada!*/
nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none; 
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;

}

header{

    text-align: center;
}

.menu_hamburguer{

    margin-top: 10px;
    display: block;
    width: 30px;
    cursor: pointer;
}

/*O pseudo-classe :nth-child() é usada para selecionar um elemento com base na sua posição dentro de um contêiner, de acordo com a ordem dos filhos.*/

.menu_hamburguer span{
    
    height: 4px;
    padding: 3px 3px;
    width: 100%;
    background-color: white;
    display: block;
    margin-left: 600px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.menu_hamburguer.active span:nth-child(1){ 

transform: rotate(45deg);
margin-bottom: 0px;
}

.menu_hamburguer.active span:nth-child(2){

display: none;
}

.menu_hamburguer.active span:nth-child(3){

    transform: rotate(-45deg);
    margin-top: 0px;
}

#sobre-empresa{

    margin-top: 50px;
    width: 100%;
    margin-left: 170px;
}

#sobre-empresa img{

    max-width: 30%;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 90px;
}

#sobre-empresa h2, p{

    margin-top: 10px;
}

#sobre-empresa p{

    width: 60%;
}

.lista-EmDestaque{

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.Centralizar_Destaque_Promocao{

    width: 100%;
    margin-left: 170px;
}

/*.container {
    max-width: 1540px; [largura do CONTAINER PAI]
    width: 100%;
    margin: 0 auto;
}*/

.lista-EmDestaque li{

    width: 45%;
    list-style: none;
    max-width: 50%;
    margin: 0;
}

.lista-EmDestaque li button{

    display: block;
    padding: 0 10%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(0, 89, 35);
}

.lista-EmDestaque li img{

    max-width: 74%;

}

.item_centro{

    margin: 0 5%;
}

.promocao_{

    margin-bottom: 30px;
}

.preco{

    margin: 10px 0;
}

.preco del{

    color: rgb(195, 195, 195);
}

.campo_form input{

    margin-top: 10px;
    margin-bottom: 0;
    width: 90%;
    resize: none;
    padding: 6px;
    outline: none;
    border:none;
    border-bottom: 1px solid;
}

.campo_form label{
    
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
}

.campo_form textarea{

    padding-bottom: 18px;
    width: 100%;
}


.campo_form h2{

    padding-top: 20px;
}

#campo_nome{

    margin-top: 18px;
}

.centralizar{

    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

section#Contato{

    width: 100%;
    background-color: rgba(128, 128, 128, 0.085);
}

/*.container {
    max-width: 1540px; [largura do CONTAINER PAI]
    width: 100%;
    margin: 0 auto;
}*/


/*Trabalhando com outra classe PAI*/

.campo_form_text_button{
    
    display: flex;
}

.campo_form_text_button textarea{

    resize: none;
    width: 800px;
    margin-top: 10px;
}

.campo_form_text_button button{
    
    margin-left: 10px;
    outline: none;
    padding: 9px;
    color: white;
    cursor: pointer;
    background-color: rgb(3, 170, 3);
    transition: all 0.3s ease;
    font-size: 14px;
    margin-top: 62px;
    margin-bottom: 29px;
}

.text_and_button button:hover{
    
    background-color: green;
}

#obrigatorio{
    
    color: red;
}

/*FOOTER*/

footer p{
    
    margin-top: 0;
    width: 100%;
    padding: 10px 600px;
}

.p_footer{

    color: white;
    background-color: rgb(131, 4, 4);
    width: 2000px;
    margin-left: -19px;
    
}

footer ul li{

    list-style: none;
}

ul#RedesSocias_ul{

    display: flex;
    background-color: rgb(131, 4, 4);
    margin-left: -19px;
    width: 2000px;
    margin-bottom: 1px;
    padding: 10px 700px;
} 

ul#RedesSocias_ul img{

    width: 50%;
}

/*---------------------!!CELULAR!!---------------------*/

@media screen and (max-width: 413px) {
    
    * {
        box-sizing: border-box;
    }

    body, html {
        overflow-x: hidden; /* Impede rolagem horizontal global */
    }
    
    header {
        
        position: sticky; /*O elemento ficara fixo no topo*/
        top: 0;
        left: 0;
        z-index: 1; /*O header fica em cima de outros elementos*/
    }

    .container {
        width: 100%; /* Usar 100% para que a largura seja sempre ajustada à tela */
        max-width: 100%;
        overflow-x: hidden; /* Para evitar rolagem horizontal */
    }    

    #lista_header {

        max-width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap; /* Garante que os itens não ultrapassem a largura */
    }
    

    #lista_header li{

        width: 73px;
        height: 18px;
        max-width: 100%;
        font-size: 10px;
        margin-left: 0;
        margin-right: 20px;
        padding: 2px 2px;
        margin-bottom: 0;
        border: 1px solid;
        border-radius: 5px;
        background-color: transparent;
    }

    #sobre-empresa {

        margin-top: 17px;
        max-width: 90%;
        margin-left: 20px; /* Ajuste de margem */
    }

    #sobre-empresa h2{
        
        margin-top: -60px;
        margin-left: -20px;
        margin-bottom: 0;
    }
    
    #sobre-empresa img {
        
        margin-top: 0px;
        max-width: 100%; /* Isso vai garantir que a imagem não ultrapasse a tela */
        height: auto; /* Para manter a proporção */
    }
    
    #sobre-empresa p{

    margin-top: 10px;
    max-width: 100%;
    margin-left: -20px;
    font-size: 17px;
    padding: 17px auto;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto; /* Ajuste para manter a proporção */
}
    
    
    .container-flex {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens que não cabem na linha se movam para a próxima linha */
        justify-content: space-between; /* Garante que os itens fiquem distribuídos */
    }

    #EmDestaque{

        max-width: 100%;    
    }

    .lista-EmDestaque {
        
        display: block;
        flex-wrap: wrap;  /* Permite que os itens que não cabem na linha se movam para a próxima linha */
        width: 100%; /* Garante que a lista ocupe toda a largura */
        margin: 0;  /* Evita qualquer margem extra */
        padding: 0; /* Evita qualquer padding extra */
    }

    .lista-EmDestaque li {
        width: 100%; /* Garante que os itens ocupem 100% da largura */
        margin-bottom: 10px; /* Espaçamento entre os itens */
        font-size: 16px; /* Tamanho da fonte para os itens */
    }

    
    .lista-EmDestaque li img {
        max-width: 300px; /* Ajuste do tamanho máximo da imagem dentro do item */
        height: auto; /* Mantém a proporção da imagem */
    }

    .lista-EmDestaque p{

        width: 300px;
    }

    /*------------FOOTER----------------*/

    .p_footer{

        width: 413px;
        margin-left: -20px;
    }

    footer p{
    
        margin-top: 0;
        max-width: 100%;
        padding: 14px 10px;
    }

    ul#RedesSocias_ul {
        
        width: 413px;
        padding: 14px 10px;
        padding-bottom: 7px;
        margin: 0 -20px;
        justify-content: center;
        display: flex;
    }
    

    ul#RedesSocias_ul img {
        max-width: 33%; /* Ajusta o tamanho das imagens dentro do footer */
    }

    .Centralizar_Destaque_Promocao {
        width: 100%;
        margin-left: 0; /* Remove margem extra */
        margin-top: 40px;
    }

    #Imagens_carrosel{

        max-width: 100%;
    }

    .menu_hamburguer span{

        margin-left: 70px;
    }

    .centralizar{

        margin-top: 140px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    
    .tres_primeiros input{

        width: 100%;
    }

    .campo_form_text_button{

        display: block;
    }

    .campo_form_text_button textarea{

        max-width: 70%;
        margin-top: 10px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .campo_form_text_button button{

        max-width: 50%;
        margin-top: 2px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 17px;
        padding: 3px;
    }
}
